---
---

@import 'all';
:root {
    /* text colors (Title, Text, Links, Dates) */
    --title-color: white;
    --text-color: black;
    --link-color: black;
    --dates-color: #404040;

    /* background colors (Body, Cards, Banner)*/
    --body-color: #f8f5ff;
    --card-color: white;
    --banner-background-color: #5e60ca;

    /* page colors (See page.scss) **/
    --page-color: #0f90fe;
    --page-code-color: #17a2b8;
  }

[data-theme="dark"] {
    /* text colors (Title, Text, Links, Dates) */
    --title-color: black;
    --text-color: white;
    --link-color: white;
    --dates-color: #3d3d3d;

    /* background colors (Body, Cards, Banner, Form)*/
    --body-color: #727279;
    --card-color: rgb(155, 153, 153);
    --banner-background-color: #0e294e;

    /* page colors (See page.scss) **/
    --page-color: #0f90fe;
    --page-code-color: #17a2b8;
}
